<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="ScreeningLogicWinFormsPath" value="C:\Users\YuvarajShanmugam\Documents\ScreeningLogic\screening-logic-automation\ScreeningLogic\bin\Debug\net9.0-windows\ScreeningLogic.exe" />
	<add key="JusticeExchangeWinFormsPath" value="C:\Users\YuvarajShanmugam\Documents\ScreeningLogic\JusticeExchange\JusticeExchangeScrapping\bin\Debug\net9.0-windows\JusticeExchangeScrapping.exe" />
  </appSettings>
  <connectionStrings>   
    <add name="DefaultConnection" connectionString="Data Source=DTMTechAVD-0\SQLEXPRESS;Initial Catalog=ScreeningLogicAutomation;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
