<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Full file path to the Windows Forms executable that performs screening logic -->
    <add key="ScreeningLogicWinFormsPath" value="D:\ScreeningLogic\ScreeningLogic\bin\Debug\net9.0-windows\ScreeningLogic.exe" />
  </appSettings>
  <connectionStrings>   
    <add name="DefaultConnection" connectionString="Data Source=DTMTechAVD-0\SQLEXPRESS;Initial Catalog=ScreeningLogicAutomation;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
