<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="JusticeExchangeWinFormsPath" value="C:\Users\YuvarajShanmugam\Documents\ScreeningLogic\JusticeExchange\JusticeExchangeScrapping\bin\Debug\net9.0-windows\JusticeExchangeScrapping.exe" />
	<add key="ScreeningLogicIncomingOrderTable" value="dbo.IncomingOrderWork"/>
  </appSettings>
  <connectionStrings>   
    <add name="DefaultConnection" connectionString="Data Source=DTMTechAVD-0\SQLEXPRESS;Initial Catalog=ScreeningLogicAutomation;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="IntegrationDB" connectionString="Data Source=sql-deputyscreen-prod.database.windows.net;Initial Catalog=IntegrationDB;User ID=Robot_SA;Password=AutoApi$2026!;Trust Server Certificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
